* {
    font-family: monospace;
    font-size: 32px;
    font-weight: 900;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.calculator {
    width: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 30px;
    gap: 10px;
}

.screen {
    display: flex;
    justify-content: end;
    align-items: end;
    aspect-ratio: 4/1;
    width: 100%;
    overflow: hidden;
    background-color: lightgray;
    border: 3px black solid;
    font-size: 70px;
    font-weight: 400;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.buttons-div {
    display: flex;
    flex-wrap: wrap;
}

.button {
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 3px black solid;
    width: 25%;
}

.button:active {
    filter: opacity(75%);
}

.options-button {
    background-color: rgb(147, 255, 219);
}

.operator-button {
    background-color: rgb(255, 182, 193);
}

.operand-button {
    background-color: lightgoldenrodyellow;
}

#equals-button {
    background-color: rgb(160, 216, 250);
    border-bottom-right-radius: 20px;
}

#zero-button {
    aspect-ratio: 2/1;
    width: 50%;
    border-bottom-left-radius: 20px;
}